{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <!-- Title -->
    <h2 class="mb-4 text-dark" style="font-size: 2.5rem; font-weight: bold;">Categories</h2>

    <a href="{% url 'expenses:category-create' %}" class="btn btn-primary mb-3">Add Category</a>

    {% if object_list %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Number of Expenses</th> <!-- Nowa kolumna -->
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr>
              <td>{{ obj.name }}</td>
              <td>{{ obj.expenses_count }}</td> <!-- Ilość wydatków -->
              <td>
                <a href="{% url 'expenses:category-edit' obj.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'expenses:category-delete' obj.id %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No categories available.</p>
    {% endif %}
  </div>
{% endblock %}
